body{
  background-color: #666;
  height: 100%;
  margin:0;
  padding:0;
}
section{

    background-image:url(cm.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    bottom: o;
    width: 100%;
}
footer{
  position:absolute;
  bottom:0;
  width:100%;
  background-color: white;
}
