body{
  background-image: url(rewe-01.png);
  background-size: 100% 700px;
}
.left{
  margin-right: 850px;
  float: left;
}
.right{
  padding-left: 400px;
}
.up{
  padding-left: 80px;
}
.down{
  padding-left: 160px;
  padding-top: 20px;
}
